
config.inc.php
config.performance.php
log4php.properties
htaccess.txt
test/*
storage/*
/storage/*
/storage/
user_privileges/*
user_privileges
modules/RegistroDePagos/storage
cache/*
backup/*
ayuda/*
logs/*
*.tar.gz
!spec/*.tar.gz
